.aboutProfile {
    width: 300px;
    /* border-right: 2px solid #ddd; */
    position: fixed;
    top: 0;
    padding: 20px;
    height: 100vh;
}
.mainProfile {
    margin-left: 300px;
    min-height: 100vh;
}
.mainProfile {
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .aboutProfile {
      width: 100%;
      position: relative;
      height: auto;
    }
    .mainProfile {
        margin-left: 0px;
        min-height: 100vh;
        }
  }
  
  